.container{
    background-image: url('photos/image8.jpg');
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    border-radius: 20px;
    /*opacity: 50%;*/
    
   

}






.cloud{
    font-size: 100px;
    margin-left: 10%;
    margin-top: 5%;
    position: fixed;
    
}

input[type=text1]{
    
    padding: 1%;
    margin:27% 0% 0% 32.5%; 
    height: 6%; 
    width: 33%;
    display: inline-block;
    border: solid 0px white;
    position: fixed;
    background-color: rgba(255, 255, 255, 0.293);
    
   
}


input:focus {
    background-color: #f6f2f268; /* Change the background color when clicked */
}


input[type=submit]{
    
    border-radius: 10px;
    padding: 1%;
    background-color: rgba(62,119,110,255);
    position: fixed;
    font-family: fantasy;
    padding: 1x;
    border: 0px solid;

    

}
input::placeholder {
    color: rgba(255, 255, 255, 0.196); /* Placeholder text color */
    font-weight: bolder;
}
input[type=submit]:hover{
    background-color: rgba(52,161,156,255);

}

.container2{
    background-image: url('photos/image8.jpg');
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    border-radius: 20px;
    /*opacity: 50%;*/
    
   

}
/* 
.main{
    background-color: rgba(4, 86, 86, 0.473);
    height: 50%;
    width: 15%;
    margin-top: 10%;
    margin-left: 18%;
    position: fixed;
    border-radius: 20px;
    
}
.main-temp{
    font-size: 100px;
    margin-left: 6%;
    margin-top: 8%;
    position: fixed;
   
}
.main2{
    background-color: rgba(4, 86, 86, 0.251);
    height: 50%;
    width: 15%;
    margin-top: 10%;
    margin-left: 33.5%;
    left: 0;
    position: fixed;
    border-radius: 20px;
    
}
.main-sun{
    font-size: 100px;
    margin-left: 3.5%;
    margin-top: 8%;
    position: fixed;
   
}
.main3{
    background-color: rgba(4, 86, 86, 0.473);
    height: 50%;
    width: 15%;
    margin-top: 10%;
    margin-left: 49%;
    left: 0;
    position: fixed;
    border-radius: 20px;
    
}
.main-humidity{
    font-size: 100px;
    margin-left: 5%;
    margin-top: 8%;
    position: fixed;
   
}
.main4{
    background-color: rgba(4, 86, 86, 0.251);
    height: 50%;
    width: 15%;
    margin-top: 10%;
    margin-left: 64.5%;
    left: 0;
    position: fixed;
    border-radius: 20px;
    
}
.main-rain{
    font-size: 100px;
    margin-left: 4.5%;
    margin-top: 8%;
    position: fixed;
   
}
.data_temp{
    font-size: 25px;
    position: fixed;
    color: aliceblue;
    margin-top: 4%;
}
.data_rain{
    font-size: 25px;
    position: fixed;
    color: aliceblue;
    margin-top: 4%;
}
.data_humidity{
    font-size: 25px;
    position: fixed;
    color: aliceblue;
    margin-top: 4%;
    margin-left: 2%;
}
.data_sun{
    font-size: 25px;
    position: fixed;
    color: aliceblue;
    margin-top: 4%;
    margin-left: 2%;
} */

.transbox2{
    background-color: rgba(9, 240, 213, 0.093);
    
    height: 80%;
    width: 60%;
    margin-top: 7%;
    margin-left: 20%;
    border-radius: 50px;
    position: fixed;
}

.display{
    margin-top: 2%;
    margin-left: 40%;
    font-size: 20px;
    color: antiquewhite;
}

.main-humidity{
    font-size: 30px;
    margin-left: 8%;
    margin-top: 17%;
    position: fixed;
    color: antiquewhite;
   
}
.main-rain{
    font-size: 30px;
    margin-left: 25%;
    margin-top: 17%;
    position: fixed;
    color: antiquewhite;
   
}
